.contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    margin: 50px;
}

.dot {
    height: 145px;
    width: 145px;
    border-radius: 50%;
    display: inline-block;
}

.circle {
    border-radius: 50%;
  }
  
@media only screen and (max-width: 1122px) and (min-width: 840px) {
    .dot {
        height: 115px;
        width: 115px;
    }

    .box {
        margin: 20px;
    }
}

@media only screen and (max-width: 840px) and  (min-width: 200px)  {
    .dot {
        height: 70px;
        width: 70px;
    }

    .box {
        margin: 4px;
    }

}

